<!doctype html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<div class="row jumbotron" style="margin-bottom: 0rem; padding: 1rem; background-color: #563d7c">
    <div class="col-lg-10" style="color: #fff">
        <h3 class="text-left">Employee Management System</h3>
    </div>
    <div class="col-lg-2">
        <h6 sec:authorize="isAuthenticated()" class="text-left" style="padding-top: 10px; color: #fff">Welcome <span sec:authentication="name"></span></h6>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/employee">Employee</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/project">Project</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/task">Task <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/operations" sec:authorize="hasRole('ROLE_admin')">Operations</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Action</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
            <span class="navbar-text">
                <b>/Task/Add</b>
            </span>
        </ul>
    </div>
</nav>
<div class="container mt-4 col-lg-8">
    <form name="task-form" th:action="@{/task}" method="post">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"> Name:</label>
                <input class="form-control" type="text" name="taskName" id="taskName" placeholder="Enter task name">
                <label class="col-sm-2 col-form-label"> Description:</label>
                <input class="form-control" type="text" name="taskDes" id="taskDes" placeholder="Enter task description">
            </div>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Create</button>
            <button class="btn btn-outline-secondary my-2 my-sm-0">Cancel</button>
        </form>
</div>
</body>
</html> 